<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>No Fun Messages</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
	<script src="/js/main.js"></script>
</head>

<body onload="initialize()">
	<div class="container">
		<header>
			<h1>No Fun Messages</h1>
			<h2>Fun Tolerance: Zero</h2>
		</header>
		<section class="message-form">
			<input type="text" />
			<button type="submit">Send</button>
		</section>
		<section class="messages">
			<article class="message" th:each="message : ${messages}">
				<p class="name" th:text="${message.user.fullName}"/>
				<p class="content" th:text="${message.text}" />
			</article>
		</section>
		<footer>
			<small>Made by Corperate Business©</small>
		</footer>
	</div>
</body>

</html>