<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Liberation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
	<script src="/js/main.js"></script>
</head>

<body onload="initialize()">
	<div class="container">
		<header>
			<img class="logo" src="/images/logo.png"/>
			<h1>Liberation</h1>
		</header>
		<section class="message-form">
			<input type="text" />
			<button type="submit">Send</button>
		</section>
		<section class="messages">
			<article class="message" th:each="message : ${messages}">
				<p th:text="${message.text}" />
			</article>
		</section>
	</div>
</body>

</html>